.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 200px 1fr;
    place-items: center;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-700);
    padding: 1rem;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    width: 100%;
    max-width: 736px;
    margin-top: -1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
