.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: .5rem;
    background: var(--blue-700);
    border-radius: 8px;
    color: var(--gray-100);
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.4;
    border: 0;
    transition: background .2s;
}

.button:hover {
    background: var(--blue-400);
}

.button:active {
    opacity: 0.7;
}